//
   Created by Yan on 12/10/2014.

p this is a test
//img(src="/public/images/2.jpg" class="galleryimage")
//img(src="/public/images/2.jpg" class="galleryimage")
//img(src="/public/images/2.jpg" class="galleryimage")