//
   Created by LinYichen on 12/9/14.

//a(href='/renderJade/renderGallery') Gallery1
button#submit_gallery(type='submit') Gallery
button#submit_queryPet(type='submit') I Want A Pet
button#submit_inputPet(type='submit') I Have A Pet
button#submit_statistic(type='submit') Statistic