//
   Created by Yan on 12/8/2014.


#form-container
   h3 Fill in your preferences
   br
   form.form-horizontal#queryPetForm(role='form')
      .form-group
         label.col-sm-2.control-label Type of Pet:
         .col-sm-10
            select.form-control(name='pet_type')
               option any
               option cat
               option dog

      .form-group
         label.col-sm-2.control-label Pet color:
         .col-sm-10
            select.form-control(name='pet_color')
               option any
               option black
               option white
               option brown
               option other

      .form-group
         label.col-sm-2.control-label pet age:
         .col-sm-10
            select.form-control(name='pet_age')
               option any
               option <3
               option 3-5
               option 6-8
               option >8

      .form-group
         label.col-sm-2.control-label pet gender:
         .col-sm-10
            select.form-control(name='pet_gender')
               option either
               option m
               option f

      .form-group
         label.col-sm-2.control-label owner location:
         .col-sm-10
            select.form-control(name='pet_ownerLocation')
               option any
               option(value='AL') Alabama
               option(value='AK') Alaska
               option(value='AZ') Arizona
               option(value='AR') Arkansas
               option(value='CA') California
               option(value='CO') Colorado
               option(value='CT') Connecticut
               option(value='DE') Delaware
               option(value='DC') District Of Columbia
               option(value='FL') Florida
               option(value='GA') Georgia
               option(value='HI') Hawaii
               option(value='ID') Idaho
               option(value='IL') Illinois
               option(value='IN') Indiana
               option(value='IA') Iowa
               option(value='KS') Kansas
               option(value='KY') Kentucky
               option(value='LA') Louisiana
               option(value='ME') Maine
               option(value='MD') Maryland
               option(value='MA') Massachusetts
               option(value='MI') Michigan
               option(value='MN') Minnesota
               option(value='MS') Mississippi
               option(value='MO') Missouri
               option(value='MT') Montana
               option(value='NE') Nebraska
               option(value='NV') Nevada
               option(value='NH') New Hampshire
               option(value='NJ') New Jersey
               option(value='NM') New Mexico
               option(value='NY') New York
               option(value='NC') North Carolina
               option(value='ND') North Dakota
               option(value='OH') Ohio
               option(value='OK') Oklahoma
               option(value='OR') Oregon
               option(value='PA') Pennsylvania
               option(value='RI') Rhode Island
               option(value='SC') South Carolina
               option(value='SD') South Dakota
               option(value='TN') Tennessee
               option(value='TX') Texas
               option(value='UT') Utah
               option(value='VT') Vermont
               option(value='VA') Virginia
               option(value='WA') Washington
               option(value='WV') West Virginia
               option(value='WI') Wisconsin
               option(value='WY') Wyoming
      .form-group
         .col-sm-offset-2.col-sm-8
            button.btn.btn-default#formSubmitButton(type="submit") See Results!
            button.btn.btn-danger(type="reset") Reset

