form#inputPet(enctype="multipart/form-data", action="/inputData", method="post")
 h5#inputPetHeader Input pet form
  span Please fill all the texts in the fields.
 label
  span Pet's name:
  input#petName(type="text", name="petName", placeholder="Put your pet's name")
 //label
 // span Pet's type:
 // input#petType(type="text", name="petType", placeholder="Put your pet's type)
 label
  span Pet's type
  select(name="petType", placeholder="Put your pet's type")
   option(value="cat") Cat
   option(value="dog") Dog
 //label
 // span Pet's color
 // input#petColor(type="text", name="petColor", placeholder="Put your pet's color")
 label
  span Pet's color
  select(name="petColor", placeholder="Put your pet's color")
   option(value="black") Black
   option(value="white") White
   option(value="brown") Brown
   option(value="other") Other
 label
  span Pet's age
  input#petAge(type="text", name="petAge", placeholder="Put your pet's age")
 label
  span Pet's gender:
  select(name="selection")
   option(value="M") Male
   option(value="F") Female
 label
  span Pet's owner name
  input#ownerName(type="text", name="ownerName", placeholder="Put your pet's owner name")
 //label
 // span Pet's owner location
 // input#ownerLocation(type="text", name="ownerLocation", placeholder="Put your pet's owner location")
 label
  span Pet's owner location
  select(name="ownerLocation", placeholder="Put your pet's owner location")
   option(value="AL") AL
   option(value="AK") AK
   option(value="AZ") AZ
   option(value="AR") AR
   option(value="CA") CA
   option(value="CO") CO
   option(value="CT") CT
   option(value="DE") DE
   option(value="FL") FL
   option(value="GA") GA
   option(value="HI") HI
   option(value="ID") ID
   option(value="IL") IL
   option(value="IN") IN
   option(value="IA") IA
   option(value="ID") ID
   option(value="KS") KS
   option(value="KY") KY
   option(value="LA") LA
   option(value="ME") ME
   option(value="MD") MD
   option(value="MA") MA
   option(value="MI") MI
   option(value="MI") MN
   option(value="MS") MS
   option(value="MO") MO
   option(value="MT") MT
   option(value="NE") NE
   option(value="NV") NV
   option(value="NH") NH
   option(value="NJ") NJ
   option(value="NM") NM
   option(value="NY") NY
   option(value="NC") NC
   option(value="ND") ND
   option(value="OH") OH
   option(value="OK") OK
   option(value="OR") OR
   option(value="PA") PA
   option(value="RI") RI
   option(value="SC") SC
   option(value="SD") SD
   option(value="TN") TN
   option(value="TX") TX
   option(value="UT") UT
   option(value="VT") VT
   option(value="VA") VA
   option(value="WA") WA
   option(value="WV") WV
   option(value="WI") WI
   option(value="WY") WY

 label
  span Pet's owner contact information
  input#ownerContactInfo(type="text", name="ownerContactInfo", placeholder="Put your pet's owner contact information")
 label
  span Upload your pet's picture
  input#petPicture(type="file", name="userPhoto")
 label
  input#inputPetButton(type="submit", class="button", value="Send", name="submit")


