doctype html
html
  head
    title= title
    //css style sheets
    link(rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')

    //javascript libraries
    script(type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js')

    script(type='text/javascript' src='http://code.highcharts.com/highcharts.js')
    script(type='text/javascript' src='http://code.highcharts.com/highcharts-more.js')
    script(type='text/javascript' src='http://code.highcharts.com/maps/modules/map.js')
    script(type='text/javascript' src='http://code.highcharts.com/maps/modules/data.js')
    script(type='text/javascript' src='http://code.highcharts.com/maps/modules/exporting.js')
    script(type='text/javascript' src='http://code.highcharts.com/modules/exporting.js')
    script(type='text/javascript' src='http://code.highcharts.com/mapdata/countries/us/us-all.js')
    script(type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    //source javacscripts
    script(type='text/javascript' src='/javascripts/onLoad.js')
    script(type='text/javascript' src='/javascripts/buttonHandlers.js')
    script(type='text/javascript' src='/javascripts/js_hfang.js')
    script(type='text/javascript' src='/javascripts/chartHandler.js')


  body
    block content
