body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: azure;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 45px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}


#div1 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  width: 95%;
  height: 80px;
  text-align: center;
}

#div2 {
  border: 2px solid blanchedalmond;
  background-color: antiquewhite;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 15vw;
  text-align: center;
  /*border: 4px solid #89D7FF;*/
  /*width: auto !important;*/
  /*min-width: 1500px;*/
}


.galleryimage {
  height: 15vw;
  width: 15vw;
  margin-left: 2px;
  margin-right: 2px;
}



#div3 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 50px;
  text-align: center;
}

#div4 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 1000px;
  text-align: center;
  overflow: auto;
}

/*.table_div4 {*/
  /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  /*width: 100%;*/
  /*border-collapse: collapse;*/
/*}*/

/*.table_div4 td, .table_div4 th {*/
  /*font-size: 1em;*/
  /*border: 1px solid #98bf21;*/
  /*padding: 3px 7px 2px 7px;*/
/*}*/

/*.table_div4 th {*/
  /*font-size: 1.1em;*/
  /*text-align: left;*/
  /*padding-top: 5px;*/
  /*padding-bottom: 4px;*/
  /*background-color: #A7C942;*/
  /*color: #ffffff;*/
/*}*/

/*.table_div4 tr.alt td {*/
  /*color: #000000;*/
  /*background-color: #EAF2D3;*/
/*}*/

th {
  text-align: center
}

.dropdown-menu {
  width: 100%;
}

.form-control {
  width: 90%;
}


#form-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 60%;
  text-align: center;
}

#table-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button {
  margin-right: 5px;
}

.alert {
  text-align: left;
}

#inputPet {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #555;
  padding: 20px 30px 20px 30px;
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D3D3D3;
  text-shadow: 1px 1px 1px #444;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
#inputPet h5 {
  padding: 0px 0px 10px 40px;
  font: 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  border-bottom: 1px solid #444;
  margin: -10px -30px 30px -30px;
}
#inputPet h5>span {
  display: block;
  font-size: 11px;
}
#inputPet label {
  display: block;
  margin: 0px 0px 5px;
}
#inputPet label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 10px;
  font-weight: bold;
}
#inputPet input[type="text"],  #inputPet textarea, #inputPet select {
  border: none;
  color: #525252;
  height: 25px;
  line-height:15px;
  margin-bottom: 16px;
  margin-right: 6px;
  margin-top: 2px;
  outline: 0 none;
  padding: 5px 0px 5px 5px;
  width: 70%;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  background: #DFDFDF;
}
#inputPet select {
  background: #DFDFDF url('../images/downarrow.jpg') no-repeat right;
  background: #DFDFDF url('../images/downarrow.jpg') no-repeat right;
  appearance:none;
  -webkit-appearance:none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
  height: 35px;
  color: #525252;
  line-height: 25px;
}
#inputPet textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
  width: 70%;
}
#inputPet .button {
  background: #FFCC02;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #585858;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-shadow: 1px 1px 1px #FFE477;
  font-weight: bold;
  box-shadow: 1px 1px 1px #3D3D3D;
  -webkit-box-shadow:1px 1px 1px #3D3D3D;
  -moz-box-shadow:1px 1px 1px #3D3D3D;
}

#inputPet .button:hover {
  color: #333;
  background-color: #EBEBEB;
}

.tableimage {
  height: auto;
  width: 25vw;
}
