body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: azure;
}

a {
  color: #00B7FF;
}

h1 {
  font-family: times, Times New Roman, times-roman, georgia, serif;
  color: #444;
  margin: 0;
  padding: 0px 0px 6px 0px;
  font-size: 45px;
  line-height: 44px;
  letter-spacing: -2px;
  font-weight: bold;
  text-align: center;
}

button {
  border:1px solid #4B546A;-webkit-box-shadow: #B7B8B8 0px 1px 0px inset;-moz-box-shadow: #B7B8B8 0px 1px 0px inset; box-shadow: #B7B8B8 0px 1px 0px inset; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
  background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
  background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
  background-image: linear-gradient(to bottom, #a7cfdf, #23538a);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a7cfdf, endColorstr=#23538a);
}

button:hover {
  border:1px solid #4B546A;
  background-color: #82bbd1; background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
  background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
  background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
  background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
  background-image: -o-linear-gradient(top, #82bbd1, #193b61);
  background-image: linear-gradient(to bottom, #82bbd1, #193b61);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#82bbd1, endColorstr=#193b61);
}

.table_div4 {
  text-align: left;
}

#div1 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  width: 95%;
  height: 80px;
  text-align: center;
}

#div2 {
  border: 2px solid blanchedalmond;
  background-color: antiquewhite;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 150px;
  text-align: center;
}

#div3 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 50px;
  text-align: center;
}

#div4 {
  border: 2px solid blanchedalmond;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 1000px;
  text-align: center;
}

.table_div4 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

.table_div4 td, .table_div4 th {
  font-size: 1em;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}

.table_div4 th {
  font-size: 1.1em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #A7C942;
  color: #ffffff;
}

.table_div4 tr.alt td {
  color: #000000;
  background-color: #EAF2D3;
}